@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;500&display=swap');
*{
    font-family: 'Libre Franklin', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.params {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    color: aliceblue;
    margin: 1em;
}

.color {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.8;
    color: aliceblue;
    margin: 1em;
}

.slider {
    height: 5px; 
    background: #720956;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }